beautifulsoup4
bokeh
dask
datasets
geopandas
geoplot
huggingface_hub
imageio
ipykernel
ipython
ipython-sql
ipywidgets
jupyter_client
jupyter_core
jupyterlab
jupyterlab_server
matplotlib
# nb_conda_kernels    # commenting this out when using uv
nbconvert
nbformat
notebook
numexpr
numpy
pandas
pandas-datareader
plotly
polars
pillow
pip
psycopg2
pycurl
pymysql
# python   # uv didn't like this (seems unnecessary) 
torch
scikit-image
scikit-learn
scipy
seaborn
send2trash
soupsieve
sqlalchemy
statsmodels
sympy
tensorboard
tensorflow
transformers
tf-keras
git+https://github.com/yuejiechi/YData_package.git@main#egg=YData
